.parent {
    /* margin: 1rem; */
    /* padding: 2rem 2rem; */
    text-align: center;
}

.child {
    display: inline-block;
    /* padding: 1rem 1rem; */
    vertical-align: middle;
}

.parameters {
    /* margin: 1rem; */
    /* padding: 2rem 2rem; */
    text-align: center;
}

.childparameters {
    display: inline-block;
    /* padding: 1rem 1rem; */
    vertical-align: middle;
}

.h1 {
    color: black;
}

.add {
    align-self: auto;
}

.inputStyles {
    outline: none;
    border-radius: 5px;
    border: 1px solid blue;
    font-weight: 700;
}

.rowC {
    display: flex;
    flex-direction: row;
}

.mainbutton {
    margin-left:10px;
    border-radius: 1px;
    border-width: 0ch;
}