.parent {
    /* margin: 1rem; */
    /* padding: 2rem 2rem; */
    text-align: center;
}

.child {
    display: inline-block;
    /* padding: 1rem 1rem; */
    vertical-align: middle;
}

.parameters {
    /* margin: 1rem; */
    /* padding: 2rem 2rem; */
    text-align: center;
}

.childparameters {
    display: inline-block;
    /* padding: 1rem 1rem; */
    vertical-align: middle;
}
.h1 {
    color: black;
}
.add {
    align-self:auto;
}